dist: xenial

language: python
python:
  - "2.7"
  - "3.5"
  - "3.5-dev"
  - "3.6"
  - "3.6-dev"
  - "3.7"
  - "3.7-dev"
  - "3.8-dev"
  - "nightly"
  - "pypy3.5"

env:
  - MAKE_RUN=test

matrix:
  fast_finish: true
  allow_failures:
  - python: 3.5-dev
  - python: 3.6-dev
  - python: 3.7-dev
  - python: 3.8-dev
  - python: nightly

  include:
    - name: CI
      python: "3.6"
      env:
      - MAKE_RUN=ci PIPENV_IGNORE_VIRTUALENVS=1

notifications:
  email:
    recipients:
      - secure: "bdFDE8d50zWO9XWc1gQ4OPDrbvjZXOum1AIchDqwYXr8C7iluJcS2q+z5mczdvHlW3XflcjALl+x81hekdBk+8L6AJuAj5MhTF+HvjFL2EkY7q0V+seLTltYhoqnnlf0BlYGwoILBbDX2p/GYHNUOqWvCtGlJGMpy0qM3R8t5Vw="

script: make ${MAKE_RUN}
